@import "tailwindcss";

.carousel-image-container {
    position: relative;
    display: flex;
    @apply 
    /* w-100 h-70 */
    w-full aspect-[16/9]
}

.carousel-image {
    @apply w-full h-full object-cover rounded-2xl;
}

.carousel-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    @apply w-full h-full px-2
}
.carousel-slide-icon {
    /* position: absolute; */
    @apply 
    w-7 h-7 object-cover
    cursor-pointer
}

/* .next {
    z-index: 1;
}

.prev {
    z-index: 2;
} */