@import "tailwindcss";

.carousel-image-container {
    /* position: absolute; */
    display: flex;
    @apply 
    /* w-100 h-70 */
    w-full aspect-[16/9]
}
.carousel-image {
    @apply w-full h-full object-cover rounded-2xl;
}

.carousel-slide-icon {
    position: absolute;
    @apply w-30 h-30 flex-initial
}

.next {
    z-index: 1;
    @apply m-44
}

.prev {
    z-index: 2;
}