@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.main-bar {
    margin-left: 16rem; /* Same as navbar width */
    overflow-y: auto;
    height: 100vh;
    padding: 1.5rem;
    border-left: 1px solid #e5e7eb; /* Tailwind gray-200 */
    /* @apply 
    col-span-5 
    pt-6 pl-3 pr-5
    border-l-1 border-gray-200 */
}

.light-theme {

}

.dark-theme {
    background-color: #121212;
    /* @apply bg-slate-950 */
    @apply text-white bg-slate-950 
}
  
.main-bar h1 {
    @apply font-sans font-bold text-xl
}

.info-block {
    @apply 
    flex justify-between gap-3
    py-6
}
  
.info {
    @apply 
    border-2 border-gray-100
    p-4
    w-64

}

.info-block div {
    @apply font-sans
}

.box-text {
    @apply font-medium text-sm text-gray-700
}

.box-figures {
    @apply 
    font-bold text-xl
    flex
    pt-3
}

.percentage-growth {
    @apply 
    h-3.5 w-3.5
    flex
    text-xs
    gap-0
}   

.arrows {
    @apply object-contain
}

.mid-section {
    @apply 
    grid grid-cols-2 col-span-1
    px-4
    gap-5
}

.event-chart h3 {
    @apply font-bold text-lg
}

.bottom-section {
    @apply
    mt-4 
}

.bottom-section-top {
    display: flex;
    gap: 15%;
    /* justify-content: space-between; */
}   

/* .bottom-section-top>div {
    display: flex;
    gap: 0.4%;
    width: 75%;
    justify-content: space-evenly;
    @apply pr-4
} */

.search-bar {
    width: 25%;
    @apply 
    border-2 border-gray-100
    ml-4
}

.search-bar input {
    @apply p-2 text-sm
}

.dropdown-menus {
    display: flex;
    gap: 0.5%;
    width: 75%;
    justify-content: end;
    flex-wrap: nowrap;
    @apply pr-4
}

.selection-block {
    display: flex; /* Change from inline-flex */
    justify-content: space-between;
    flex: 0 1 auto; 
    min-width: 60px; /* Prevent it from shrinking too much */
    align-items: center;
    @apply border-2 border-gray-100 p-2;
}

.selection-block h3 {
    @apply mr-5 text-sm
}

.table-container {
    @apply 
    mx-4 mt-4
}

table {
    width: 100%;
}

th {
    @apply bg-emerald-50
}

table, th, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 8px; 
    text-align: left; 
}

th {
    @apply text-gray-600
}
