@import "tailwindcss";

.main-page {
  @apply
    grid grid-cols-6
    
}

.main-bar {
  @apply col-span-5 pt-6 border-l-1 border-gray-200
}

.main-bar div h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: larger;
}


